/* .list-sort-wrapper {
    position: relative;
    background: #acabab;
    overflow: hidden;
    height: 400px;
  }

  .list-sort {
    margin: 40px auto;
    max-width: 350px;
    width: 90%;
    cursor: url('http://gtms02.alicdn.com/tps/i2/T1_PMSFLBaXXcu5FDa-20-20.png') 10 10,pointer!important;
    position: relative;
    height: 305px;
  }
  .list-sort > div{
    overflow: hidden;
  }
  
  .list-sort-list {
    background: #fff;
    border-radius: 6px;
    margin: 5px auto;
    padding: 10px;
    height: 45px;
    transition:  box-shadow .5s, transform .5s;
  }
  
  .list-sort-list.list-drag-selected{
    box-shadow: 0 8px 20px #E6E6E6;
    transform: scale(1.1) !important;
  }

  .list-sort-text{
    width: 100%;
    display: inline-block;
  }
  
  .list-sort-text p{
    font-size: 12px;
  }
  
  @media screen and (max-width: 320px) {
    .list-sort-text h1 {
      font-size: 14px;
      line-height: 28px;
    }
  }

.ant-input-number {
    width: 45px;
    position: fixed;
  } */