/* @import '~antd/dist/antd.css';

.showcontainer {
    position: absolute;
    left: 40px;
    width: 400px;
    height: 130px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.hidecontainer {
    position: absolute;
    left: 15px;
    top: 160px;
    width: 400px;
    height: 130px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 */
